body, html {
    margin: 0;
    padding: 0;
    background-color: #F8F8FD;
    font-size: 62.5%;
    /* overflow-x: hidden; */
}
header {
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    background-color: inherit;
    z-index: 1000;
}
.logo {
    width: 100%;
    height: auto;
    margin: 3rem 3rem 3rem 8rem;
}
.bar {
    display: flex;
    justify-content: flex-end;
    margin: -6rem 4rem 0 0;
}
.nav-list {
    list-style: none;
    display: inline-block;
}
.nav-link {
    text-decoration: none;
    color: #16054E;
    padding-left: 3rem;
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.nav-btn {
    color: #fff;
    border: 1px solid #8d6cfa;
    border-radius: 10rem;
    background-color: #8d6cfa;
    margin-left: 3.5rem;
    padding: 1.6rem 4rem;
}
input[type='checkbox'] {
    display: none;
}
.toggle-btn {
    width: 5rem;
    height: 1.8rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0.5rem;
    top: 1.25rem;
}
.toggle-bar {
    height: 0.3rem;
    width: 50%;
    background-color: #8d6cfa;
    border-radius: 1rem;
}
#hero-section {
    margin: 15rem 0rem 10rem 0;
    display: flex;
    position: relative;
    left: 7rem;
}
.button-list {
    background-color: #8D6CFA;
    border: 1px solid #8D6CFA;
    color: #fff;
    border-radius: 3.2rem;
    width: 16.1rem;
    height: 5.6rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-left: 1rem;
    
}
.input-list {
    background-color: #fff;
    border: 1px solid #DED7F6;
    border-radius: 8px;
    width: 40.3rem;
    height: 5.6rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    opacity: 0.8;
    padding-left: 1.2rem;
}
.ellipse-section {
    position: relative;
    left: 12rem;
    top: -1rem;
}
 .ellipse {
    width: 100%;
    height: auto;
}
.flying-phn {
    position: absolute;
    left: 0.8rem;
    width: 100%;
    height: auto;
}

.diversified {
    padding: 8rem 4rem 0 6rem;

}
.core-img {
    width: 85%;
    height: auto;
    padding: 2.4rem 0 0 13rem;
}
.heading-1 {
    color: #16054E;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 6.4rem;
    font-family: 'Proxima Nova';
}
.heading-2 {  
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 9.6rem;
    color: #16054E;
}
.para {
    color: #8B82A7;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 400;
    font-family: 'Euclid Circular A';
}
.para-3 {
    font-family: 'Euclid Circular A';
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0em;
    text-align: center;
    color: #8B82A7;

}
.para-4 {
    font-family: 'Euclid Circular A';
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0px;

}
.header-3 {
    font-family: 'Euclid Circular A';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: center;
    color: #16054E;

}
.head-1 {
    color: #fff;
    font-weight: 700;
    font-size: 4.9rem;
    line-height: 6.4rem;
    font-family: 'Proxima Nova';
}
.para-2 {
    color: #fff;
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 400;
    font-family: 'Euclid Circular A';
}
.tiny-img {
    border: 1px solid #83DB83;
    background-color: #83DB83;
    border-radius: 100px;
    width: 6.4rem;
    height: 6.4rem;
    text-align: center;
}
.tiny-img-2 {
    border: 1px solid #83DB83;
    background-color: #83DB83;
    border-radius: 100px;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
}
.tiny-img-3 {
    border: 1px solid #83DB83;
    background-color: #83DB83;
    border-radius: 100px;
    width: 4.7rem;
    height: 4.7rem;
}
#rectangle-box {
    background-color: #9070f6;
    border: 1px solid #9070f6;
    border-radius: 2.4rem;
    width: 90%;
    height: 48.8rem;
    margin: auto;
    color: #fff;
    position: relative;
    display: flex;
    box-sizing: border-box;
}
small {
    color: #16054E;
}
.span {
    color: #8D6CFA;
}
.flex1-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 10rem; 
    margin-bottom: 15rem;
    gap: 3rem;
}
.flex1-content1 {
    max-width: 60rem;
    height: 70rem;
    border-radius: 24px;
    border: 1px solid #fff; 
    background-color: #fff;
    position: relative;
}
.flex1-content2 {
    max-width: 60rem;
    height: 70rem;
    border-radius: 2.4rem;
    border: 1px solid #4ECC4E; 
    background-color: #4ECC4E; 
    position: relative;
}
.portfolio-text {
    margin: 6.2rem 8rem 0 6rem;
}
.portfolio-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}
.invest-text {
    margin: 2.8rem 12rem 0 6rem;
}
.invest-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    
}
.img-box {
    height: 5.6rem;
    width: 5.6rem;
    margin-top: 1.3rem;
    margin-right: 1.3rem;
    border-radius: 14rem; 
    border: 1.4px solid #E3E1EA; 
    box-sizing: border-box;
}
h3 {
    color: #16054E;
}
.flex2 {
    display: flex; 
    flex-direction: row;
    gap: 1rem;
}
.flex2-content {
    border: 1px solid #fff;
    background-color: #fff;
    width: 22.941rem;
    height: 5.633rem;
    text-align: center;
    padding-top: 3rem;
   
}
.flex3 {
    display: flex; 
    flex-direction: row; 
    margin-top: 5rem;
    gap: 1rem;
}
.flex3-content {
    border: 1px solid #fff;
    background-color: #fff;
    width: 22.941rem;
    height: 6.633rem;
    text-align: center;
    padding-top: 2.5rem;
}
.flex4-header {
    text-align: center; 
    margin-top: 15rem;
}
.flex4-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 25rem;
    gap: 1rem;
}
.flex4-content {
    border: 1px solid #fff;
    background-color: #fff;
    width: 36rem;
    box-sizing: border-box;
    height: 34.7rem;
    border-radius: 2rem;
    position: relative;
}
.flex4-img {
    position: absolute; 
    top: -8rem; 
    left: 10rem;
    height: auto;
    max-width: 20rem;
}
.flex4-text {
    position: absolute; 
    top: 7rem; 
    padding: 2rem 3.2rem 3.2rem 3.2rem;
}
.flex4-para {
    overflow-wrap: break-word; 
}
.afri_investment_section {
    width: 100%; 
    height: 90rem; 
    background: #060125 url(images/Vector\ \(5\).png); 
    margin-top: 15rem; 
}
.afri_investment_ctn {
    display: flex; 
    flex-direction: row; 
    margin-left: 10rem;
    gap: 3rem;
}
.afri_investment_text {
    margin-top: 15rem;
}
.afri_investment_img {
    width: 100%; 
    height: auto; 
    margin: 10rem 0 0 0;
    
}
.afri_investment_header {
    line-height: 9.4rem; 
    font-size: 6.4rem;
}
.afri_investment_btn {
    margin-top: 2rem;
}
.build_com_header {
    text-align: center; 
    margin-top: 10rem;
}
.build_com_ctn {
    display: flex; 
    margin-top: 10rem;
    justify-content: center;
    gap: 5rem;
}
.build_com_text {
    margin-top: 12rem;
    max-width: 40%;
}
.build_com_img {
    margin-left: 8rem;
}
.updated_ctn {
    display: flex; 
    margin-top: 20rem;
    justify-content: center;
    gap: 5rem;
}
.updated_text {
    margin-top: 15rem;
    max-width: 40%;
}
.updated_img, .build_com_img {
    max-width: 90%;
    height: auto;

}
.heading-up {  
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    color: #16054E;
}
.hop_on_section {
    margin-top: 20rem; 
    width: 100%; 
    height: auto; 
    background: #EAF9EA url(images/Vector\ \(6\).png);
}
.hop_on_ctn {
    box-sizing: border-box;
}
.hop_on_header {
    padding: 13rem 0 3rem 8rem;
    max-width: 78%;
}
.hop_on_img_ctn {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.hop_on_circle {
    margin-left: 50%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.tech_booming, .rapid_growth {
    width: 100%;
    height: auto;
}
.ebook_ctn {
    display: flex; 
    margin-top: 15rem;
    justify-content: space-between;
}
.ebook_text { 
    margin: 10rem 0 0 9rem;
    max-width: 62rem;
}
.ebook_btn {
    margin-top: 2rem;
}
.ebook_img { 
    width: 100%;
    height: auto;
}
p {
    overflow-wrap: break-word;
}
.fa-plus {
    border: 4px solid #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    color: #fff;
    position: absolute;
    left: 520px;
    top: 24px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    padding: 7px;
}
#img-bg {
    background-image: url(images/daba\ city\ 1.png);
    width: 100%; 
    max-height: 84rem;
    margin-top: 20rem; 
    text-align: center;
    padding-top: 20rem;
    background-repeat: no-repeat;
}
.market_btn {
    margin: 2rem 0 20rem 0;
}
footer {
    width: 100%;
    height: auto;
    background-color: #060125;
    position: relative;
}
.footer_text_ctn {
    display: flex;
    justify-content: space-between;
    padding: 10rem 0 5rem 10rem;
}
.footer_text {
    max-width: 58rem;
}
.footer_img {
    max-width: 50%;
    height: auto;
}
.footer_input {
    width: 35rem;
}
.footer_right {
    padding: 6rem 0 8rem 0rem;
    display: flex;
    justify-content: space-around;
}
.footer_right_text {
    font-size: 1.4rem;
    color: #fff;
}
.fa-footer {
    font-size: 2.5rem;
    color: #fff;
    padding-left: 2rem;
}


@media (max-width: 1024px) {
    body, html {
        font-size: calc(100vw/1024 * 10);
        overflow-x: hidden;
    }
    header {
        height: 8rem;
    }
    .logo {
        flex-basis: 90%;
        margin: 2rem;
    }
    .bar {
        background-color: #f1f1f7;
        padding: 1rem 0 1rem 0;
        margin: 0;
        display: none;
        transition: 1ms all ease-in-out;
    }
    .nav-link {
        font-size: 1.9rem;
        line-height: 2.9rem;
        margin-left: -4.5rem;
    }
    .nav-list {
        display: block;
    }
    .nav-btn {
        color: #fff;
        border: 1px solid #8d6cfa;
        border-radius: 10rem;
        background-color: #8d6cfa;
        margin-left: 2rem;
        padding: 1rem 1.6rem;
        font-size: 1.6rem;
    }
    .toggle-btn {
        position: absolute;
        right: 0.4rem;
        top: 3rem;
        display: flex;
    }
    .nav_toggle:checked + div.bar {
        display: block;
    }
    #hero-section {
        margin-top: 15rem;
        display: flex;
        left: 3rem;
    }
    #hero-text {
        margin-left: auto;
    }
    .first-form {
        display: flex; 
        flex-wrap: wrap;
    }
    .input-list {
        width: 60%;
        height: 4rem;
        font-weight: 400;
        font-size: 1.3rem;
        padding-left: 1.2rem;
        box-sizing: border-box;
        
    }
    .button-list {
        flex-basis: 31%;
        height: 4rem;
        font-weight: 400;
        font-size: 1.5rem;
    }
    .flying-phn {
        width: 80%;
        height: auto;
        transform: translatey(3.5rem);
    }
    .ellipse-section {
        position: relative;
        margin-right: auto;
        left: 10rem;
    }
    .ellipse {
        width: 80%;
        height: auto;
    }
    .diversified {
        padding: 3rem 0rem 0 3rem;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    
    }
    .core-img {
        width: 92%;
        height: auto;
        padding: 3.3rem 1rem 0 3rem;
    }
    #rectangle-box {
        border-radius: 2rem;
        max-width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .afri_investment_ctn {
        gap: 5.5rem;
    }
    .afri_investment_img { 
        max-height: 41rem; 
        margin-top: 20rem;
    }
    .build_com_ctn { 
        gap: 3rem;
    }
    .build_com_img {
        margin-left: 5rem;
    }
    .build_com_text {
        margin-top: 6rem;
    }
    .updated_ctn {
        gap: 3rem;
    }
    .updated_text {
        margin-left: 5rem;
        margin-top: 10rem;
    }
    .updated_img, .build_com_img {
        max-width: 80%;
        height: auto;
    
    }
    .tech_booming, .rapid_growth {
        max-width: 80%;
        height: auto;
    }
    .hop_on_img_ctn {
        gap: 0rem;
        margin-left: 4rem;
    }
    .footer_text_ctn {
        display: flex;
        justify-content: flex-start;
        padding: 10rem 0 5rem 8rem;
    }
    .flex2, .flex3 {
        overflow-x: scroll;
    }
     

}
@media (max-width: 805px) {
    .ellipse-section {
        left: 4rem;
    }
    .core-img {
        min-width: 100%;
        height: auto;
        padding: 4.3rem 1rem 0 0rem;
        align-items: baseline;
    }
}
@media (max-width: 650px) {
    body, html {
        /* overflow-x: hidden; */
        font-size: calc(100vw/650 * 10);
    }
    header {
        width: 100%;
        height: 8rem;
        position: fixed;
        top: 0;
        background-color: #ffffff30;
        z-index: 1000;
    }
    .nav-link {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-left: -4.5rem;
    }
    .nav-btn {
        padding: 0.8rem 1.4rem;
        font-weight: 200;
    }

    #hero-section {
        display: flex;
        flex-direction: column-reverse;
        margin: 10rem 0 15rem 0;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .first-form {
        display: flex; 
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .input-list {
        width: 60%;
        height: 4rem;
        font-weight: 400;
        font-size: 1.3rem;
        padding-left: 1.2rem;
        box-sizing: border-box;
        
    }
    .button-list {
        width: 25%;
        height: 4rem;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 0.5em;
    }
    
    .ellipse-section {
        position: relative;
        margin: auto;
        margin-bottom: 3rem;
        left: 0rem;
    }
    .ellipse {
        width: 90%;
        height: auto;
    }
    .flying-phn {
        width: 90%;
        height: auto;
        transform: translatey(3.5rem);
    }
    #rectangle-box {
        border-radius: 2rem;
        max-width: 80%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .core-img {
        min-width: 100%;
        height: auto;
        padding: 3.3rem 0rem 0 15rem;
        box-sizing: border-box;
    }
    .flex1-container { 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
    }
    .flex1-content1, .flex1-content2 {
        max-width: 90%;
        flex-shrink: 1;
    }
    .flex4-container {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        margin-top: 10rem;
    }
    .flex4-content {
        margin-top: 10rem;
    }
    .flex4-img {
        position: absolute; 
        top: -8rem; 
        left: 10.5rem;
        max-width: 15rem;
        max-height: 15rem;
    }
    .afri_investment_ctn {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 0rem;
        margin: 0;
    }
    .afri_investment_img {
        display: none;
        margin-top: 0;
    }
    .build_com_ctn { 
        gap: 3rem;
        flex-direction: row-reverse;
    }
    .build_com_img {
        margin: 9rem 0 0 0;
    }
    .build_com_text {
        margin: 0rem 0 0 5rem;
        max-width: 50%;
    }
    .updated_ctn {
        gap: 3rem;
        margin-top: 10rem;
    }
    .updated_text {
        margin-top: 0rem;
        max-width: 50%;
    }
    .updated_img {
        margin: 9rem 0 0 0;
    }
    .heading-2 {
        font-size: 4.8rem;
        line-height: 6rem;
    }
    .ebook_text { 
        margin: 0rem 0 0 7rem;
        max-width: 62rem;
    }
    .ebook_btn { 
        margin-top: 1rem;
    }
    .footer_text_ctn {
        flex-direction: column;
        padding: 10rem 0 5rem 0rem;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .footer_text {
        max-width: 80%;
    }
    .footer_img {
        display: none;
    }
    .footer_input {
        width: 35rem;
    }
    .footer_form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .footer_right {
        padding: 6rem 0 8rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_right_text {
        font-size: 1.6rem;
    }
    .fa-footer {
        padding-top: 2rem;
    }
    .footer_fonta {
        order: 3;
    }
     
      
}